<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Ficha Técnica</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
   

  </head>

<div class="container">

 
  <br>
    <div class="card">
            <div class="card-header">
                   
                        <h2>Editar PartNumber</h2>
                    
            </div>
            <div class="card-body">
              <form method="POST" action="/pastnumber/update/" > 
                <div class="row">
                     
                    <div class="form-group name1 col-md-4">
                       
                        <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="muverName" value="<%= pn.codigo %>">
                    </div>
            
                    <div class="form-group name2 col-md-4">
                      
                        <select name="fabricantes" id="mapas" name="mapas" class="form-control">
                            <% fabricantes.forEach(fabricante => { %>
                              <option value="<%= fabricante.id %>"> <%= fabricante.descricao %></option>
                            <% }) %>
                      </select>
                    </div>
            
                    <div class="form-group name3 col-md-4">                               
                        <button class="btn btn-primary form-control"> Editar</button>
                    </div>

                    <input type="hidden" name="id" value="<%= pn.id %>">
            
                </div>
            
            </form>
            </div>
           
          
    </div>
   
</div>

<script src=/scripts/jquery.js></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>

</html>
