<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>CheckFeeder</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">


  </head>

<div class="container">
 
  <br>
    <div class="card">
            <div class="card-header">
                   
                        <h2>Nova Máscara</h2>
                    
            </div>
            <div class="card-body">
                    <form  method="POST" action="/mascara/create">
                            <input class="form-control" type="text" name="formato" placeholder="Insira o formato da máscara"><br>
                            <input class="form-control" type="text" name="divisor" placeholder="Insira o divisor de valores da mascara"><br>               
                            <input class="form-control" type="text" name="qtdpos" placeholder="De 0, informe a posição da quantidade"><br>           
                            <input class="form-control" type="text" name="reallPos" placeholder="De 0, informe a posição do Reel Id"><br>        
                            <input class="form-control" type="text" name="partNumberPos" placeholder="De 0, informe a posição do Part Number"><br>       
                            <input class="form-control" type="text" name="lotePos" placeholder="De 0 informe a posição do Lote"><br> 
                            
                            <input type="hidden" name="id" value="<%= fabricanteId %>">
                    
                            <br><br>
                            <button class="btn btn-primary">Cadastrar</button>
                            
                        </form>
            </div>
           
          
    </div>
   
</div>

<script src=/scripts/jquery.js></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>

</html>